#trello-root #chrome-container #layer-manager-card-back [role="dialog"] {
  width: calc(100vw - 40px) !important;
  max-width: 1320px !important;
  border-radius: 4px !important;
}

main > section + div {
  max-width: none !important;
}
